.row-fluid
  :css
    #main { float: right; }
    #contacts-div { float: left; overflow-y: auto; overflow-x: hidden; }
  - if signed_in?
    %div{ :id => "contacts-div" }
    :javascript
      $(function() {
        $("#contacts-div").load("#{contacts_path}");
        var faye = new Faye.Client('http://localhost:9292/im');
        faye.subscribe('/broadcast', function (data) {
          alert(data);
        });
        faye.subscribe("/#{current_user.id}", function(data) {
          eval(data);
        });
      });
      $(document).ready(function() {
        window.onbeforeunload = function (){
          $('#leave-form').submit(); 
        };
        $('#heart-beat-form').submit();
      });
     
      
  %div{ :class => "span8", :id => "main" }
    %div{ :class => "center hero-unit" }
      %h1 Zim
      %p An Web IM
      - if !signed_in?
        = link_to 'Sign Up', signup_path, :remote => true
      - else
        Hello,
        = current_user.name
    = debug(params) if Rails.env.development?
    = render 'layouts/footer' 
  -if signed_in?
    = form_for :beat, :url => beat_path, :remote => true, :html => { :id => 'heart-beat-form' } do |f|
      = f.hidden_field :uid, :value => current_user.id
    = form_for :leave, :url => leave_path, :remote => true, :html => { :id => 'leave-form' } do |f|
      = f.hidden_field :uid, :value => current_user.id
