%div{ :id => "signin-dialog", :title => "Sign in" }
  %div
    %section{ :id => "signin-flash" }
    = form_for(:session, url: sessions_path, :remote => true, :html => { :id => 'signin-form' }) do |f|
      = f.label :email
      %br
      = f.text_field :email
      = f.label :password
      %br
      = f.password_field :password
    %p
      New user?
      = link_to "Sign up now!", signup_path
:javascript
  $(function() {
    $("#signin-dialog").wijdialog({
        autoOpen: true,
        modal: true,
        buttons: 
          {
            "Clear": function () {
              document.getElementById('signin-form').reset();
            },
            "Sign in": function () {
              $('#signin-form').submit();
            }
          },
        dialogClass: "dialogWithDropShadow",
        hide: 'explode',
        collapsingAnimation: { 
          animated: "puff", duration: 300, easing: "easeOutExpo" },
        expandingAnimation: { 
          animated: "highlight", duration: 300, easing: "easeOutExpo" }
    });
  });
