%ul{ :id => "contacts" }
  - for group_name, contacts in @groups
    %li 
      %a
        %span= group_name
      %ul
        - for contact in contacts
          %li
            - tid = contact.contact.id
            = link_to(dialog_path(tid), :remote => true) do 
              %span  
                %img{ :src => "#{gravatar(contact.contact, :size => 28)}" }
                - if contact.contact_alias != nil
                  = contact.contact_alias
                  (#{contact.contact.name})
                - else
                  = contact.contact.name
                %div{ :id => "online-status-#{tid}" }
                  = online_status(tid)
:javascript
    $(function() {
      $("#contacts").wijtree({
        allowDrag: true,
        expandCollapseHoverUsed: true
      });
      document.getElementById("contacts-div").style.height=window.screen.height-160+"px";   
  });
