%div{ :id => 'signup-dialog' }
  = form_for @user, :remote => true, :html => {:id => 'signup-form'} do |f|
    = render 'shared/error_messages'
    = f.label :name
    %br
    = f.text_field :name, :required => true

    = f.label :email
    %br
    = f.text_field :email, :required => true

    = f.label :password
    %br
    = f.password_field :password, :required => true

    = f.label :password_confirmation, 'Confirmation'
    %br
    = f.password_field :password_confirmation, :required => true
