:plain
  if(document.getElementById('edit-dialog-#{@user.id}')) {
    $('#edit-dialog-#{@user.id}').wijdialog('open');
  } else { 
    $('#dialogs').append("#{escape_javascript(render(:partial => 'edit_form'))}");
    $('#edit-dialog-#{@user.id}').wijdialog({
      autoOpen: true,
      modal: true,
      buttons: {
        'Clear': function() {
          document.getElementById('edit-form-#{@user.id}').reset();
        },
        'Update': function() {
          $('#edit-form-#{@user.id}').submit();
        }
      },
      dialogClass: 'dialogWithDropShadow',
      hide: 'explode',
      collapsingAnimation: { 
        animated: "puff", duration: 300, easing: "easeOutExpo" },
      expandingAnimation: { 
        animated: "highlight", duration: 300, easing: "easeOutExpo" },
      title: 'Settings',
    });  
  }
