.chat-dialog{ :id => "dialog-#{@dialog_id}", :title => "#{@contact_name}", :style => "overflow-x: hidden;" }
  .chat-content{ :id => "chat-content-#{@dialog_id}" }
  = form_for Message.new, :remote => true, :html => { :id => "chat-#{@dialog_id}", :style => "padding: 0; margin: 0 0 0 -18px;" } do |f|
    = f.text_area :content, :class => 'chat-input', :rows => 3, :autofocus => true, :required => true, :id => "chat-input-#{@dialog_id}"
    = f.hidden_field :to, :value => @dialog_id