:plain
  if(document.getElementById("dialog-#{@dialog_id}")) {
    $("#dialog-#{@dialog_id}").wijdialog("open");
  } else {
    $("#dialogs").append("#{escape_javascript(render(:partial => 'msg_dialog'))}");
    $("#chat-input-#{@dialog_id}").wijeditor({
      mode: "bbcode",
      editorMode: "wysiwyg",
      showFooter: false
    });
    $("#dialog-#{@dialog_id}").wijdialog({
      autoOpen: true,
      show: 'puff',
      hide: 'explode',
      collapsingAnimation: 
        { animated: "puff", duration: 300, easing: "easeOutExpo" },
      expandingAnimation: 
        { animated: "highlight", duration: 300, easing: "easeOutExpo" },
      width: 480,
      buttons: {
        "Clear": function () {
          $("#chat-input-#{@dialog_id}").val('');
        },
        "Send": function () {
          $("#chat-#{@dialog_id}").submit();
        }
      },
      dialogClass: "dialogWithDropShadow",
      //resizable: false,
      //captionButtons: {
      //  maximize: { visible: false }
      //}
    });
  }
  $("#dialog-#{@dialog_id}").wijsplitter({ orientation: "horizontal", splitterDistance: 250 });
  $("#chat-content-#{@dialog_id}").wijsuperpanel();
    
