%header{ :class => "navbar navbar-fixed-top" }
  .navbar-inner
    .container
      %nav
        = link_to("Zim", root_path, :class => "brand")
        %ul{ :class => "nav pull-right" }
          %li= link_to "Home", root_path
          %li= link_to "Help", help_path, :id => "help_nav", :remote => true
          - if signed_in?
            %li= link_to "Users", users_path
            %li{ :id => "fat-menu", :class =>"dropdown" }
              %a{ :href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" } 
                Account
                %b{ :class => "caret" }
              %ul{ :class => "dropdown-menu" }
                %li= link_to "Profile", current_user
                %li= link_to "Settings", edit_user_path(current_user)
                %li{ :class => "divider" }
                %li= link_to "Sign out", signout_path, method: "delete"
          - else
            %li= link_to "Sign in", "#signin", :id => "signin_nav"
          %form{ :class => "navbar-search pull-left" }
            %input{ :type => "text", :class => "search-query", :placeholder => "Search" }/
:javascript
  jQuery(function($) {
    $("#signin_nav")
      .bind('click', function(event) {
        if(document.getElementById("signin-dialog")) {
          $("#signin-dialog").wijdialog( "open" );
        } else {
          $.get('#{signin_path}', undefined,
            function(data, status, xhr) {
              $("#dialogs").append(xhr.responseText);
            }
          );
        }
    })
    .bind("ajax:error", function() {
        alert("Signin ajax failed: ");
    });
    //$('#help_nav')
    //  .bind('click', function(event) {
    //    if(document.getElementById('help-dialog')) {
    //      $('#help-dialog').wijdialog('open');
    //    } else {
    //      $.get('#{help_path}', undefined,
    //        function(data, status, xhr) {
    //         $('#dialogs').append(xhr.responseText);
    //       }
    //      );
    //    }
    //  })
    //  .bind('ajax:error', function() {
    //    alert('Help ajax failed');
    //  });
  });
