%header{ :class => "navbar" }
  .navbar-inner
    .container
      %nav
        = link_to("Zim", root_path, :class => "brand")
        %ul{ :class => "nav pull-right" }
          %li= link_to "Home", root_path
          %li= link_to "Help", help_path, :remote => true
          - if signed_in?
            %li= link_to "Users", users_path, :remote => true
            %li= link_to 'Contacts', contacts_path, :remote => true
            %li= link_to 'Cycles', contact_groups_path, :remote => true
            %li{ :id => "fat-menu", :class =>"dropdown" }
              %a{ :href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" } 
                %span{ :id => 'account-stat' }= current_user.name
                %b{ :class => "caret" }
              %ul{ :class => "dropdown-menu" }
                %li
                  %a{ :onclick => "off_line();", :href => '#', :id => 'status-tog' }
                    Get off line
                %li= link_to "Profile", current_user, :remote => true
                %li= link_to "Settings", edit_user_path(current_user), :remote => true
                %li{ :class => "divider" }
                %li= link_to "Sign out", signout_path, method: "delete"
          - else
            %li= link_to "Sign in", signin_path, :remote => true, :id => "signin_nav"
          //%form{ :class => "navbar-search pull-left" }
          //  %input{ :type => "text", :class => "search-query", :placeholder => "Search" }/
- if signed_in?
  :javascript
    function on_line(){
      $('#heart-beat-form').submit();
      $('#status-tog').replaceWith("<a href='#' onclick='off_line()' id='status-tog'>Get off line</a>"); 
      $('#account-stat').html('#{current_user.name} - Online');
    }

    function off_line(){
      $('#leave-form').submit();
      $('#status-tog').replaceWith("<a href='#' onclick='on_line()' id='status-tog'>Get on line</a>"); 
      $('#account-stat').html('#{current_user.name} - Offline');
    }
