= javascript_include_tag "http://localhost:9292/im.js"
= javascript_include_tag "/extjs/ext.js"
= javascript_include_tag '/desktop/all-classes.js'
= javascript_include_tag 'application'
= csrf_meta_tag
