!!! 5
%html
  %head
    %meta{ :name => "viewport", :content => "minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=no"}
    %title= title
    = render 'layouts/stylesheets'
    = javascript_include_tag "http://localhost:9292/im.js"
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    = render 'layouts/header'
    %div
      %div{ :id => "container" }
        - flash.each do |key, value| 
          %div{ :class => "alert alert-#{key}" }
            = value
        %div{ :id => "content", :class => "container-fluid" }
          = yield
    %div{ :id => "dialogs" }
    %div{ :id => 'ext_dialog' }
